*{
	border-sizing: border-box;
}

h1{
	text-align: center;
}

p { 
	color: black;
}

#p1, #p2, #p3 {
	float: right;
	margin-right: 0px;
	border: 3px solid black;
	padding: 0px;
}

#p1 {
	background-color: green;
	width: 25%;
	top: 60px;
}

#p2 {
	background-color: yellow;
	width: 25%;
	top: 60px;
}

#p3 {
	background-color: red;
	width: 25%;
	top: 60px;
}

.row {
	width: 100%;
	position: relative;
}

.cont{
	padding-top: 40px;
	border: 3px solid black;
	background-color: grey;
}

@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3{
		float: left;
		width: 30%;
		margin: 10px;
	}
}

@media (min-width: 768px) AND (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3 {
		float: left;
		border: 1px black;
	}

	.col-md-1{
		width: 48%;
		margin-right: 5px
	}
	
	.col-md-2{
		float: right;
		width: 48%;
	}

	.col-md-3{
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3 {
		float: left;
		border: 1px black;
	}
	.col-sm-1{
		width: 100%;
	}
	.col-sm-2{
		width: 100%;
	}
	.col-sm-3{
		width: 100%;
	}
}
}